body {
  background-color: #fafafa;
}


/*Nav bar styles*/

.navbar-inverse li {
  font-size: 115%;
  color: white;
}

/*Styles for Banner (Directly underneath navbar)*/
#banner {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  padding-right: 15px;
  padding-top: 40px;
}

/*Styles #maincon (Directly underneath #banner)*/

#mainconimage {
  text-align: center;
}

#mainconh {
  color: salmon;
  font-size: 2.4em;
  font-weight: light;
  padding-top: 7px;
}

#maincontext {
  padding-top: 10px;
  padding-right: 100px;
  font-size: 1.3em;
}

/*Styles for #mainform*/

#formh {
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  padding-top: 7px;
  color: salmon;
}

.radio {
  padding-top: 15px;
}
